div{
	width: 100px;
	height: 180px;
	border: 3px solid gray;
	border-radius: 20px;
	background-color: whitesmoke;
	position: relative;
	box-shadow: 0px 0px 15px gray;
	}

body{
	background-color: turquoise;
}

img{
	position: absolute;
}

p{
	position: absolute;
}
.figura1{
	width: 25px;
	left: 5px;
	top: 30px;

}

.numero1{
	font-size: 25px;
	color: red;
	bottom: 140px;
	left: 5px;
}

.figura2{
	width: 25px;
	left: 65px;
	top: 145px;
	transform: rotate(180deg);
}

.numero2{
	font-size: 25px;
	color: red;
	top: 140px;
	left: 65px;
	transform: rotate(180deg);


}

.numero1black{
	font-size: 25px;
	color: black;
	bottom: 140px;
	left: 5px;

}

.numero2black{
		font-size: 25px;
	color: black;
	top: 140px;
	left: 65px;
	transform: rotate(180deg);


}

.imgcentro{
	width: 50px;
		
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}


div{
	width: 100px;
	height: 200px;
	border: 4px solid gray;
	border-radius: 20px;
	background-color: whitesmoke;
	position: absolute;

}

.asdiamantes{
	left: 450px;
	top: 230px;
	transform: rotate(140deg);
	z-index: 1;

}

.reytreboles{
	left: 500px;
	top: 200px;
	transform: rotate(-20deg);
	z-index: 2;
}

.reinacorazones{
	left: 550px;
	top: 200px;
		z-index: 3;

}

.jpicas{
	left: 600px;
	top: 200px;
	transform: rotate(20deg);
		z-index: 4;

}

.diezdiamantes{
	left: 650px;
	top: 220px;
	transform: rotate(40deg);
		z-index: 5;
		

}


